# =========================================
#   SYMFONY
# =========================================
/var/
/vendor/
/public/build/
/translations/*.mo
.env.local
.env.*.local
.env.local.php
.env

# =========================================
#   CACHE Y LOGS
# =========================================
/var/*
!/var/.gitkeep

# =========================================
#   WEBPACK / NODE
# =========================================
/node_modules/
/npm-debug.log
/yarn-error.log
.pnp.*
.pnp.js

# =========================================
#   ARCHIVOS DE IDEs
# =========================================
# JetBrains / PHPStorm
.idea/
*.iml

# VSCode
.vscode/
.history/

# =========================================
#   SISTEMA OPERATIVO (Windows / Linux / Mac)
# =========================================
.DS_Store
Thumbs.db
Desktop.ini

# =========================================
#   DOCKER
# =========================================
/docker/pgadmin
/docker/*/Dockerfile~ 
docker-compose.override.yml

# =========================================
#   BACKUPS
# =========================================
*.sql
*.sqlite
*.bak
*.dump

# =========================================
#   ARCHIVOS SENSIBLES
# =========================================
/certs/
/keys/
/secrets/

# =========================================
#   OTRAS EXCLUSIONES
# =========================================
/coverage/
phpunit.xml
phpunit.xml~
composer.phar
